.ml-0 {
  margin-left: 0px;
}
.mr-0 {
  margin-right: 0px;
}
.mt-0 {
  margin-top: 0px;
}
.mb-0 {
  margin-bottom: 0px;
}
.ml-10 {
  margin-left: 10px;
}
.mr-10 {
  margin-right: 10px;
}
.mt-10 {
  margin-top: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}
/* ------ */
.ml-20 {
  margin-left: 20px;
}
.mr-20 {
  margin-right: 20px;
}
.mt-20 {
  margin-top: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
/* ------ */
.ml-30 {
  margin-left: 30px;
}
.mr-30 {
  margin-right: 30px;
}
.mt-30 {
  margin-top: 30px;
}
.mb-30 {
  margin-bottom: 30px;
}
/* ------ */
.ml-40 {
  margin-left: 40px;
}
.mr-40 {
  margin-right: 40px;
}
.mt-40 {
  margin-top: 40px;
}
.mb-40 {
  margin-bottom: 40px;
}
/* ------ */
.ml-50 {
  margin-left: 50px;
}
.mr-50 {
  margin-right: 50px;
}
.mt-50 {
  margin-top: 50px;
}
.mb-50 {
  margin-bottom: 50px;
}
/* ------ */
.my-10 {
  margin: 10px 0;
}
.my-20 {
  margin: 20px 0;
}
.my-30 {
  margin: 30px 0;
}
.my-40 {
  margin: 40px 0;
}
.my-40 {
  margin: 50px 0;
}
/* ------ */
.mx-10 {
  margin: 0 10px;
}
.mx-20 {
  margin: 0 20px;
}
.mx-30 {
  margin: 0 30px;
}
.mx-40 {
  margin: 0 40px;
}
.mx-40 {
  margin: 0 50px;
}
/* ------ */
.m-auto {
  margin: 0 auto;
}
/* ------ */
.block {
  display: block;
}
.none {
  display: none;
}
.flex {
  display: flex;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
